$label-width: 50px;
$label-height: 50px;
$label-margin: 0 10px 10px 0;
$border-radius: 3px;
$border-color: var(--cms-border-colour, #999);
$checked-outline-color: #ddd;
$checked-content-color: #000;
$checked-text-shadow-color: #fff;

.themecolourpalette {
  ul {
    overflow: hidden;
    padding-left: 0;
  }

  li {
    float: left;
    list-style: none;

    input {
      display: none;
    }

    label {
      cursor: pointer;
      position: relative;
      width: $label-width;
      height: $label-height;
      display: block;
      margin: $label-margin;
      border: 1px solid $border-color;
      border-radius: $border-radius;
    }

    input:checked + label {

      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: $label-height;
        text-align: center;
        content: "\2714";
        color: $checked-content-color;
        text-shadow:
          -1px -1px 0 $checked-text-shadow-color,
          1px -1px 0 $checked-text-shadow-color,
          -1px 1px 0 $checked-text-shadow-color,
          1px 1px 0 $checked-text-shadow-color;
      }
    }

    input[value="None"],
    input[value="none"],
    input[value="transparent"] {
      +label:before {
        content: 'unset';
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: .6;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }

      &:checked+label:before {
        content: none;
      }
    }
  }

  &.readonly li label {
    cursor: default;
  }
}
